<div class="session">
    <div class="session_left">
        <div class="session_left_top">
            <div class="left_title">
                <a title="{{list[0].coption}}"><img data-ng-src="./img/message/build_{{list[0].img}}.jpg">
                    <span>{{list[0].coption}}</span></a>
            </div>
            <div class="right_title">
                <div class="right_title_top">
                    <a title="{{list[1].coption}}"><img data-ng-src="./img/message/build_{{list[1].img}}.jpg"></a>
                    <div class="title_bj">
                        <span>{{list[1].coption}}</span></div>
                </div>
                <div class="right_title_bottom">
                    <a title="{{list[2].coption}}"><img data-ng-src="./img/message/build_{{list[2].img}}.png"></a>
                    <div class="title_bj">
                        <span>{{list[2].coption}}</span></div>
                </div>
            </div>
            <div class="message_news_box" ng-repeat="item in list2|limitTo:1">
                <div class="news_box_center">
                    <<p>{{item.coption}}</p>
                    <div>{{item.title}}</div>
                    <div class="news_box_right_mark" ng-repeat="item in Tag|limitTo:1">
                        <span>{{item.athour}}</span>
                        <span>{{item.time}}</span>
                        <span>{{item.tag}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="message_news_box" ng-repeat="item in list3|limitTo:4">
            <div class="news_box_left">
                <a title="{{item.coption}}">
                    <img data-ng-src="./img/message/build_{{item.img}}.png"></a>
            </div>
            <div class="news_box_right">
                <p><a title="{{item.coption}}" href="/news/xiaochengxu/40578.html">{{item.coption}}</a></p>
                <div>
                    {{item.title}}
                </div>
                <div class="news_box_right_mark">
                    <span>{{Tag[0].athour}}</span>
                    <span>{{Tag[0].time}}</span>
                    <span>{{Tag[0].tag}}</span>
                </div>
            </div>
        </div>
        <div class="message_news_box" ng-repeat="item in list2|limitTo:1">
            <div class="news_box_center">
                <p>{{item.coption}}</p>
                <div>{{item.title}}</div>
                <div class="news_box_right_mark" ng-repeat="item in Tag|limitTo:1">
                    <span>{{item.athour}}</span>
                    <span>{{item.time}}</span>
                    <span>{{item.tag}}</span>
                </div>
            </div>
        </div>
        <div class="message_news_box" ng-repeat="item in list3|filter:getinfo(5,6)">
            <div class="news_box_left">
                <a title="{{item.coption}}">
                    <img data-ng-src="./img/message/build_{{item.img}}.png"></a>
            </div>
            <div class="news_box_right">
                <p><a title="{{item.coption}}" href="/news/xiaochengxu/40578.html">{{item.coption}}</a></p>
                <div>
                    {{item.title}}
                </div>
                <div class="news_box_right_mark">
                    <span>{{Tag[0].athour}}</span>
                    <span>{{Tag[0].time}}</span>
                    <span>{{Tag[0].tag}}</span>
                </div>
            </div>
        </div>
        <div class="message_news_box" ng-repeat="item in list2|limitTo:1">
            <div class="news_box_center">
                <p>{{item.coption}}</p>
                <div>{{item.title}}</div>
                <div class="news_box_right_mark" ng-repeat="item in Tag|limitTo:1">
                    <span>{{item.athour}}</span>
                    <span>{{item.time}}</span>
                    <span>{{item.tag}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="session_right">
        <div class="right_img">
            <a title="微信小程序商店"><img src="./img/box_right1.png"></a>
        </div>
        <p class="right_hot"><em>热门推荐</em></p>
        <ul class="hot_title">
            <li>
                <p><a title="你能为站长工作付出多少度的热爱">你能为站长工作付出多少度的热爱</a></p>
                <p>
                    <time>2010-12-27</time>
                </p>
            </li>
            <li>
                <p><a title="织梦DedeCMS标签field:fulltitle实现完整title">织梦DedeCMS标签field:fulltitle实现完整title</a></p>
                <p>
                    <time>2012-06-25</time>
                </p>
            </li>
            <li>
                <p><a title="浅谈四种我们应该避免合作SEO客户">浅谈四种我们应该避免合作SEO客户</a></p>
                <p>
                    <time>2010-10-20</time>
                </p>
            </li>
            <li>

                <p><a title="Internet Explorer 6 的盛衰史（漫画）">Internet Explorer 6 的盛衰史（漫画）</a></p>
                <p>
                    <time>2010-02-24</time>
                </p>
            </li>
            <li>
                <p><a title="团购今年面临盈利生死坎：前十名有5家准备盈利">团购今年面临盈利生死坎:前十名有5家准备盈利</a></p>
                <p>
                    <time>2012-04-19</time>
                </p>
            </li>
            <li>
                <p><a title="2010网页设计趋势(上)">2010网页设计趋势(上)</a></p>
                <p>
                    <time>2010-06-25</time>
                </p>
            </li>
        </ul>
        <p class="right_hot"><em>热门标签</em></p>
        <div class="hot_Tag">
            <a href="">SEO</a>
            <a href="">网页设计</a>
            <a href="">网站建设</a>
            <a href="">网站制作</a>
            <a href="">网站设计</a>
            <a href="">建站经验</a>
            <a href="">网页优化</a>
            <a href="">企业网站</a>
            <a href="">公司网站</a>
            <a href="">蓝色</a>
            <a href="">DELL</a>
            <a href="">Google</a>
            <a href="">品牌</a>
            <a href="">红色</a>
            <a href="">双语言</a>

        </div>
    </div>
    <div class="message_page">
        <ul>
            <li class="message_page_buerr"><a href="javascript:;">1</a></li>
            <li><a href="javascript:;">2</a></li>
            <li><a href="javascript:;">3</a></li>
            <li><a href="javascript:;">4</a></li>
            <li><a href="javascript:;">5</a></li>
            <li><a href="javascript:;">6</a></li>
            <li><a href="javascript:;">7</a></li>
            <li><a href="javascript:;">8</a></li>
            <li><a href="javascript:;">9</a></li>
            <li><a href="javascript:;">10</a></li>
            <li>
                <a href="javascript:;">下一页</a>
            </li>
            <li>
                <a href="javascript:;">末页</a>

            </li>
        </ul>
        </nav>
    </div>
</div>